<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <title>Home</title>
  </head>
  <body>
    <!-- ACA VA EL HEADER -->
    <%- include ('partials/navbar') %>

    <!-- HERO -->
    <section>
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Hack the blog</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">El blog de hack academy</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
        </div>
      </div>
    </section>

    <!-- ARTICULOS -->
    <section>
      <div class="containter text-center">
        <% for (const article of articles) {%>
        <div>
          <a href="/article/<%= article.id %>"><%= article.title %></a>

          <p>
            Creado por <%= article.author.firstname %> <%=
            article.author.lastname %> el <%= article.date %>
          </p>
        </div>
        <% } %>
      </div>
    </section>

    <!-- FOOTER -->
    <%- include ('partials/footer') %>
  </body>
</html>
